In [1]:
#importing basic python Libraries for data science work 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# initializing an array with all the file names in my system for the data
file_path = ['jan17_apr17.xlsx','may_17.xlsx', 'june_17.xlsx', 'july_17.xlsx', 'aug_17.xlsx', 'sept_17.xlsx', 'oct_17.xlsx', 'nov_17.xlsx',
             'dec_17.xlsx', 'jan_18.xlsx', 'feb_18.xlsx', 'march_18.xlsx', 'april_18.xlsx','may_18.xlsx', 'june_18.xlsx',
             'july_18.xlsx', 'aug_18.xlsx', 'sept_18.xlsx', 'oct_18.xlsx', 'nov_18.xlsx', 'dec_18.xlsx', 'jan_19.xlsx', 
             'feb_19.xlsx', 'march_19.xlsx', 'april_19.xlsx', 'may_19.xlsx', 'june_19.xlsx', 'july_19.xlsx', 'aug_19.xlsx',
             'sept_19.xlsx', 'oct_19.xlsx', 'nov_19.xlsx','dec_19.xlsx']




#intializing an empty dataframe to append all files in the loop
sub_delay = pd.DataFrame()

#looping over all files to save them into sub_delay dataframe
for f in file_path:

    df = pd.read_excel(f)
    sub_delay = pd.concat([sub_delay, df])

In [3]:
#sneak peak
sub_delay

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2017-01-01,00:29,Sunday,KENNEDY BD STATION,MUSC,0,0,W,BD,5159
1,2017-01-01,01:35,Sunday,ISLINGTON STATION,MUSC,0,0,E,BD,5296
2,2017-01-01,03:00,Sunday,LAWRENCE STATION,EUDO,4,8,S,YU,6056
3,2017-01-01,04:06,Sunday,GREENWOOD YARD,SUUT,0,0,NaN,BD,0
4,2017-01-01,04:20,Sunday,YONGE SHP STATION,PUCSS,0,0,W,SHP,6171
...,...,...,...,...,...,...,...,...,...,...
1569,2019-12-31,22:54,Tuesday,FINCH STATION,SUAP,0,0,NaN,YU,0
1570,2019-12-31,23:09,Tuesday,SHERBOURNE STATION,EUBK,0,0,W,BD,5234
1571,2019-12-31,23:12,Tuesday,ST CLAIR WEST STATION,SUDP,0,0,NaN,YU,0
1572,2019-12-31,23:16,Tuesday,FINCH STATION,MUSC,0,0,S,YU,6066
1573,2019-12-31,23:32,Tuesday,KING STATION,MUIRS,0,0,S,YU,0

In [4]:
#resetting index
sub_delay.reset_index(inplace = True, drop = True)

In [5]:
sub_delay.describe()

          Min Delay       Min Gap       Vehicle
count  58797.000000  58797.000000  58797.000000
mean       2.228600      3.273228   3992.353181
std        7.952464      8.442888   2448.711541
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000   5230.000000
75%        3.000000      6.000000   5651.000000
max      515.000000    519.000000  72537.000000

In [6]:
sub_delay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58797 entries, 0 to 58796
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       58797 non-null  datetime64[ns]
 1   Time       58797 non-null  object
 2   Day        58797 non-null  object
 3   Station    58797 non-null  object
 4   Code       58796 non-null  object
 5   Min Delay  58797 non-null  int64
 6   Min Gap    58797 non-null  int64
 7   Bound      45681 non-null  object
 8   Line       58606 non-null  object
 9   Vehicle    58797 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 4.5+ MB

In [7]:
#Analyzing text data
columns = ['Day', 'Station', 'Code', 'Bound', 'Line']
for col in columns:
    print(col,  '\n' ,sub_delay[col].value_counts(), '\n')

Day
 Friday       9292
Thursday     9280
Wednesday    9205
Monday       9179
Tuesday      9158
Saturday     6794
Sunday       5889
Name: Day, dtype: int64

Station
 KENNEDY BD STATION        2693
KIPLING STATION           2607
FINCH STATION             2229
SHEPPARD WEST STATION     1591
WILSON STATION            1451
                          ...
QUEEN'S QUAY ELEVATOR        1
UNION STATION (APPROAC       1
WILSON SOUTH HOSTLER         1
SHEPPARD TO BAYVIEW          1
LAWRENCE WEST TO EGLIN       1
Name: Station, Length: 518, dtype: int64

Code
 MUSC     7611
TUSC     5002
MUIS     4839
MUPAA    4237
SUDP     2978
         ...
MUCSA       1
STO         1
MTO         1
ERVE        1
SRSP        1
Name: Code, Length: 201, dtype: int64

Bound
 S    12557
W    11334
N    10913
E    10859
B       16
5        1
Y        1
Name: Bound, dtype: int64

Line
 YU                        27485
BD                        26109
SRT                        2186
SHP                        1754
YU/BD                       918
B/D                          62
YU / BD                      25
YU/ BD                       14
YUS                           7
999                           5
YU - BD                       5
BD/YU                         4
BD LINE                       4
YU-BD                         3
11 BAYVIEW                    2
YU LINE                       2
16 MCCOWAN                    2
BLOOR-DANFORTH                1
YU & BD                       1
32 EGLINTON WEST              1
YONGE UNIVERSITY SERVI        1
134 PROGRESS                  1
510 SPADINA                   1
100 FLEMINGDON PARK           1
85 SHEPPARD EAST              1
BLOOR DANFORTH LINES          1
129 MCCOWAN NORTH             1
YU BD                         1
63 OSSINGTON                  1
46 MARTIN GROVE               1
YU - BD LINE                  1
YU\BD                         1
985 SHEPPARD EAST EXPR        1
RT                            1
22 COXWELL                    1
704 RAD BUS                   1
Name: Line, dtype: int64

There seems to be a lot more stations, lines and directions than actual values. This is most likely result of a free-style text input where user spelling mistakes or abbreviations led to multiple enteries for similar data. This means the data is going to need some standardization and cleaning.

In [8]:
#Checking for original unique value counts

[print(i,sub_delay[i].value_counts().shape) for i in sub_delay.columns]

Date (1094,)
Time (1424,)
Day (7,)
Station (518,)
Code (201,)
Min Delay (138,)
Min Gap (144,)
Bound (7,)
Line (36,)
Vehicle (901,)

[None, None, None, None, None, None, None, None, None, None]

## Data Format Standardizing

In [9]:
#Standardize column names
sub_delay.columns = [i.replace(' ', '_').lower() for i in sub_delay.columns]

In [10]:
# Standardize the column Columns data
sub_delay['station'] = [i.replace(' ', '_').lower() for i in sub_delay['station']]

sub_delay['station']= [i.replace('stn', 'station').lower() for i in sub_delay['station']]
sub_delay['station'] = [i.replace('.', '').lower() for i in sub_delay['station']]

sub_delay['station'] = [i.replace(' ', '_').lower() for i in sub_delay['station']]
sub_delay['station'] = [i.replace('__', '_').lower() for i in sub_delay['station']]
sub_delay['station'] = [i.replace('___', '_').lower() for i in sub_delay['station']]
sub_delay['station'] = [i.replace('_-_', '_').lower() for i in sub_delay['station']]

#Fixing common typos
sub_delay['station'] = [i.replace('_nd_', 'and').lower() for i in sub_delay['station']]




sub_delay['station'] = [i.replace('_and_' , '/').lower() for i in sub_delay['station']]
sub_delay['station'] = [i.replace('_/_', '/').lower() for i in sub_delay['station']]
sub_delay['station'] = [i.replace('_&_', '/').lower() for i in sub_delay['station']]
sub_delay['station'] = [i.replace('_at_', '/').lower() for i in sub_delay['station']]

In [11]:
[print(i,sub_delay[i].value_counts().shape) for i in sub_delay.columns]

date (1094,)
time (1424,)
day (7,)
station (516,)
code (201,)
min_delay (138,)
min_gap (144,)
bound (7,)
line (36,)
vehicle (901,)

[None, None, None, None, None, None, None, None, None, None]

Standardizing did not help with the station names in this dataset. We will go through them one by one to clean it up.

#### Addressing null values

In [12]:
#Checking Nulls
sub_delay.isna().sum()

date             0
time             0
day              0
station          0
code             1
min_delay        0
min_gap          0
bound        13116
line           191
vehicle          0
dtype: int64

In [13]:
sub_delay['bound'].fillna('Unknown', inplace = True)
sub_delay['line'].fillna('Unknown', inplace = True)

There are only 4 lines in toronto subway system. Lets address the issue of line variants in our data

#### Cleaning line column

In [14]:
#Checking all unique values
sub_delay['line'].value_counts()

YU                        27485
BD                        26109
SRT                        2186
SHP                        1754
YU/BD                       918
Unknown                     191
B/D                          62
YU / BD                      25
YU/ BD                       14
YUS                           7
999                           5
YU - BD                       5
BD/YU                         4
BD LINE                       4
YU-BD                         3
YU LINE                       2
11 BAYVIEW                    2
16 MCCOWAN                    2
510 SPADINA                   1
YU\BD                         1
BLOOR-DANFORTH                1
32 EGLINTON WEST              1
YONGE UNIVERSITY SERVI        1
704 RAD BUS                   1
134 PROGRESS                  1
BLOOR DANFORTH LINES          1
YU & BD                       1
22 COXWELL                    1
85 SHEPPARD EAST              1
129 MCCOWAN NORTH             1
RT                            1
YU BD                         1
985 SHEPPARD EAST EXPR        1
63 OSSINGTON                  1
46 MARTIN GROVE               1
YU - BD LINE                  1
100 FLEMINGDON PARK           1
Name: line, dtype: int64

In [15]:
#Cleaning up `line` column

sub_delay['line'] = sub_delay['line'].replace(['YU', 'YUS', 'YU/BD', 'YU LINE' ,'YU / BD', 'YU/ BD', 'YU-BD', '11 BAYVIEW',
                                              'YU - BD', 'RT', 'YU\BD', '29 DUFFERIN', 'YU - BD LINE', 'YU & BD', 'YU BD',
                                              '35 JANE', '704 RAD BUS', '95 YORK MILLS', 'YONGE UNIVERSITY SERVI',
                                              '32 EGLINTON WEST', '510 SPADINA'], '1-YU')


sub_delay['line'] = sub_delay['line'].replace(['BD','B/D','BLOOR-DANFORTH','BD/YU','BD LINE','46 MARTIN GROVE', '22 COXWELL',
                                              '100 FLEMINGDON PARK', 'BLOOR DANFORTH LINES', '63 OSSINGTON'], '2-BD')


sub_delay['line'] = sub_delay['line'].replace(['SRT', '16 MCCOWAN', '129 MCCOWAN NORTH', '134 PROGRESS',
                                               '985 SHEPPARD EAST EXPR'], '3-SRT')
                                              


sub_delay['line'] = sub_delay['line'].replace(['SHP', '85 SHEPPARD EAST'], '4-SHP')


sub_delay['line'] = sub_delay['line'].replace(['999', 'Unknown'], 'Other')

In [16]:
#Checking cleaned up column values
sub_delay['line'].value_counts()

1-YU     28470
2-BD     26185
3-SRT     2191
4-SHP     1755
Other      196
Name: line, dtype: int64

In [17]:
#Drop rows that had other in the line. That will help us with cleaning up the station section
sub_delay.drop(sub_delay[sub_delay.line == 'Other'].index, inplace=True)

### Cleaning `station` column

In [18]:
sub_delay['station'].value_counts().head(25)

kennedy_bd_station        2688
kipling_station           2602
finch_station             2225
sheppard_west_station     1590
wilson_station            1448
bloor_station             1441
islington_station         1370
warden_station            1365
eglinton_station          1346
coxwell_station           1230
victoria_park_station     1229
yus/bd/sheppard_subway     978
st_clair_west_station      971
davisville_station         933
yonge_bd_station           927
st_george_yus_station      918
bloor_danforth_subway      914
york_mills_station         903
jane_station               866
sheppard_station           845
yonge_university_line      844
keele_station              839
vaughan_mc_station         825
st_george_bd_station       822
greenwood_station          794
Name: station, dtype: int64

In [19]:
#grouping all station names that are somewhat similar but not similar

sub_delay['station'] = sub_delay['station'].replace(['kennedy_bd_station', 'kennedy_yus_station' ], 'kennedy_station')

sub_delay['station'] = sub_delay['station'].replace(['kipling_station_(appro' ], 'kipling_station')

sub_delay['station'] = sub_delay['station'].replace(['vaughan_mc_station'], 'vaughan_station')

sub_delay['station'] = sub_delay['station'].replace(['yonge_bd_station', 'yonge_station', 'bloor_station'], 'bloor_yonge_station')

sub_delay['station'] = sub_delay['station'].replace(['st_george_yus_station', 'st_george_bd_station'], 'st_george_station')

sub_delay['station'] = sub_delay['station'].replace(['spadina_bd_station', 'spadina_yus_station'], 'spadina_station')

sub_delay['station'] = sub_delay['station'].replace(['kennedy_srt_station'], 'kennedy_station')

sub_delay['station'] = sub_delay['station'].replace(['yonge_shp_station','yonge_shep_station', 'sheppard-yonge_station'], 'sheppard_station')

#Imported these variants from bus_cleaning
sub_delay['station'] = sub_delay['station'].replace(['stc', 'scar_town_centre_station', 'scarborough_town_centre', 'scarborough_ctr_statio',
                                            'scarb_town_station', 'scarborough_centre_station', 'scarborough_centre_station',
                                            'scarborough_town_station', 'scarborough_town_centre_station','scarborough_center_station',
                                            'scarborough_town_ctr', 'stc_srt_station', 'scarborough_town_center_rt_station',
                                            'scarborough_town_center_station', 'scarb_ctr_station',
                                            'scarborough_town_center'], 'stc_station')


sub_delay['station'] = sub_delay['station'].replace(['union_station_to_king', 'union_station_to_st_an', 'union_to_king',
                                                    'union_to_king_station', 'union_to_st_andrew', 'union_station_(to_king'],
                                                    'union_station')

sub_delay['station'] = sub_delay['station'].replace(['keele_to_high_park'], 'keele_station')

sub_delay['station'] = sub_delay['station'].replace(['st_clair_west_to_union'], 'st_clair_west_station')

sub_delay['station'] = sub_delay['station'].replace(['eglinton_to_bloor_stat'], 'eglinton_station')

In [20]:
sub_delay['station'].value_counts().head(50)

kennedy_station           3149
kipling_station           2610
bloor_yonge_station       2374
finch_station             2225
st_george_station         1743
sheppard_west_station     1590
wilson_station            1448
sheppard_station          1418
islington_station         1370
warden_station            1365
eglinton_station          1354
coxwell_station           1230
victoria_park_station     1229
spadina_station            985
yus/bd/sheppard_subway     978
st_clair_west_station      977
davisville_station         933
bloor_danforth_subway      914
york_mills_station         903
jane_station               866
keele_station              847
yonge_university_line      844
vaughan_station            825
greenwood_station          794
st_clair_station           788
union_station              775
lawrence_station           773
dundas_station             709
old_mill_station           690
dundas_west_station        647
broadview_station          629
royal_york_station         619
dupont_station             610
ossington_station          609
christie_station           607
eglinton_west_station      595
college_station            585
queen_station              571
wellesley_station          569
yorkdale_station           561
mccowan_station            560
lawrence_west_station      539
woodbine_station           529
main_street_station        527
donlands_station           522
st_patrick_station         510
bathurst_station           505
pape_station               497
rosedale_station           466
north_york_ctr_station     464
Name: station, dtype: int64

### Cleaning `bound` column

In [21]:
#checking unique values
sub_delay['bound'].value_counts()

Unknown    12956
S          12551
W          11324
N          10905
E          10847
B             16
5              1
Y              1
Name: bound, dtype: int64

In [22]:
#grouping the bound values and giving them proper name

sub_delay['bound'] = sub_delay['bound'].replace(['E'], 'East')

sub_delay['bound'] = sub_delay['bound'].replace(['W'], 'West')

sub_delay['bound'] = sub_delay['bound'].replace(['N'], 'North')

sub_delay['bound'] = sub_delay['bound'].replace(['S', '5'], 'South')

sub_delay['bound'] = sub_delay['bound'].replace(['B', 'Y', 'Unknown'], 'Unknown')

In [23]:
sub_delay['bound'].value_counts()

Unknown    12973
South      12552
West       11324
North      10905
East       10847
Name: bound, dtype: int64

### Lets add time month and year columns

In [24]:
sub_delay.head()

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle
0,2017-01-01,00:29,Sunday,kennedy_station,MUSC,0,0,West,2-BD,5159
1,2017-01-01,01:35,Sunday,islington_station,MUSC,0,0,East,2-BD,5296
2,2017-01-01,03:00,Sunday,lawrence_station,EUDO,4,8,South,1-YU,6056
3,2017-01-01,04:06,Sunday,greenwood_yard,SUUT,0,0,Unknown,2-BD,0
4,2017-01-01,04:20,Sunday,sheppard_station,PUCSS,0,0,West,4-SHP,6171

### Adding incidents code description file

In [25]:
sub_delay

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle
0,2017-01-01,00:29,Sunday,kennedy_station,MUSC,0,0,West,2-BD,5159
1,2017-01-01,01:35,Sunday,islington_station,MUSC,0,0,East,2-BD,5296
2,2017-01-01,03:00,Sunday,lawrence_station,EUDO,4,8,South,1-YU,6056
3,2017-01-01,04:06,Sunday,greenwood_yard,SUUT,0,0,Unknown,2-BD,0
4,2017-01-01,04:20,Sunday,sheppard_station,PUCSS,0,0,West,4-SHP,6171
...,...,...,...,...,...,...,...,...,...,...
58792,2019-12-31,22:54,Tuesday,finch_station,SUAP,0,0,Unknown,1-YU,0
58793,2019-12-31,23:09,Tuesday,sherbourne_station,EUBK,0,0,West,2-BD,5234
58794,2019-12-31,23:12,Tuesday,st_clair_west_station,SUDP,0,0,Unknown,1-YU,0
58795,2019-12-31,23:16,Tuesday,finch_station,MUSC,0,0,South,1-YU,6066
58796,2019-12-31,23:32,Tuesday,king_station,MUIRS,0,0,South,1-YU,0

Simply looking at the delay codes does not add much value to our anlaysis so we will match it with the subway delay description file from the same source as our data i.e. Toronto Open Data Portal.

## Adding Delay Code description to the data

In [26]:
#importing delay code file to add description
delay_codes = pd.read_excel('subway-delay-codes.xlsx')
delay_codes.head()

   Unnamed: 0  Unnamed: 1      Unnamed: 2           Unnamed: 3
0         NaN         NaN  SUB RMENU CODE     CODE DESCRIPTION
1         NaN         1.0            EUAC     Air Conditioning
2         NaN         2.0            EUAL  Alternating Current
3         NaN         3.0           EUATC   ATC RC&S Equipment
4         NaN         4.0            EUBK               Brakes

In [27]:
delay_codes.isna().sum()

Unnamed: 0    201
Unnamed: 1      1
Unnamed: 2      0
Unnamed: 3      0
dtype: int64

In [28]:
#dropping useless columns
delay_codes = delay_codes.drop(['Unnamed: 0', 'Unnamed: 1'], axis = 1)

In [29]:
delay_codes = delay_codes.drop([0])

In [30]:
delay_codes = delay_codes.rename(columns={"Unnamed: 2": "code", "Unnamed: 3": "incident_description"})
delay_codes

      code                 incident_description
1     EUAC                     Air Conditioning
2     EUAL                  Alternating Current
3    EUATC                   ATC RC&S Equipment
4     EUBK                               Brakes
5     EUBO                                 Body
..     ...                                  ...
196  TRNOA   No Operator Immediately Available
197    TRO    Transportation Department - Other
198  TRSET  Train Controls Improperly Shut Down
199   TRST                         Storm Trains
200   TRTC     Transit Control Related Problems

[200 rows x 2 columns]

In [31]:
sub_delay.shape

(58601, 10)

In [32]:
#Doing Left join to ensure any code that has a description is matched & we dont lose any information from our original data
sub_delay = sub_delay.join(delay_codes.set_index('code'), on='code', how = 'left')

In [33]:
#resetting indexes
sub_delay.reset_index(inplace = True, drop = True)

In [34]:
sub_delay['incidents_grouped'] = sub_delay['incident_description']

In [35]:
#Checking all the unique incidents
sub_delay['incidents_grouped'].value_counts()

Miscellaneous Speed Control                                7609
Operator Overspeeding                                      4994
Injured or ill Customer (In Station) - Transported         4805
Passenger Assistance Alarm Activated - No Trouble Found    4319
Disorderly Patron                                          3032
                                                           ...
Signals Power Supply Related                                  2
Loop Related Failures                                         2
T & S Contractor Problems                                     2
Signals Zone Countroller Failure                              1
Vehicle                                                       1
Name: incidents_grouped, Length: 139, dtype: int64

In [36]:
sub_delay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58601 entries, 0 to 58600
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  58601 non-null  datetime64[ns]
 1   time                  58601 non-null  object
 2   day                   58601 non-null  object
 3   station               58601 non-null  object
 4   code                  58600 non-null  object
 5   min_delay             58601 non-null  int64
 6   min_gap               58601 non-null  int64
 7   bound                 58601 non-null  object
 8   line                  58601 non-null  object
 9   vehicle               58601 non-null  int64
 10  incident_description  57456 non-null  object
 11  incidents_grouped     57456 non-null  object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 5.4+ MB

In [37]:
sub_delay.head()

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle,incident_description,incidents_grouped
0,2017-01-01,00:29,Sunday,kennedy_station,MUSC,0,0,West,2-BD,5159,Miscellaneous Speed Control,Miscellaneous Speed Control
1,2017-01-01,01:35,Sunday,islington_station,MUSC,0,0,East,2-BD,5296,Miscellaneous Speed Control,Miscellaneous Speed Control
2,2017-01-01,03:00,Sunday,lawrence_station,EUDO,4,8,South,1-YU,6056,Door Problems - Faulty Equipment,Door Problems - Faulty Equipment
3,2017-01-01,04:06,Sunday,greenwood_yard,SUUT,0,0,Unknown,2-BD,0,Unauthorized at Track Level,Unauthorized at Track Level
4,2017-01-01,04:20,Sunday,sheppard_station,PUCSS,0,0,West,4-SHP,6171,Central Office Signalling System,Central Office Signalling System

### Rearranging Columns and dropping the excess

In [38]:
# lets reorganize the columns and drop time column in the process to avoid repeition. 
# Also dropping min_gap as it holds a lot of 0 values which is not true for subway lines
sub_delay = sub_delay [['date','time', 'station','line','bound', 'min_delay', 'code','incident_description', 'vehicle']]

In [39]:
sub_delay['incident_description'].value_counts().head(15)

Miscellaneous Speed Control                                   7609
Operator Overspeeding                                         4994
Injured or ill Customer (In Station) - Transported            4805
Passenger Assistance Alarm Activated - No Trouble Found       4319
Disorderly Patron                                             3032
Miscellaneous Other                                           2688
Injured or ill Customer (On Train) - Medical Aid Refused      1997
Escalator/Elevator Incident                                   1640
Operator Violated Signal                                      1488
Miscellaneous General Delays                                  1423
Injured or ill Customer (On Train) - Transported              1358
Speed Control Equipment                                       1295
Injured or ill Customer (In Station) - Medical Aid Refused    1199
Door Problems - Faulty Equipment                              1059
Passenger Other                                                985
Name: incident_description, dtype: int64

In [40]:
[print(i,sub_delay[i].value_counts().shape) for i in sub_delay.columns]

date (1094,)
time (1424,)
station (474,)
line (4,)
bound (5,)
min_delay (138,)
code (201,)
incident_description (139,)
vehicle (896,)

[None, None, None, None, None, None, None, None, None]

In [41]:
sub_delay.isna().sum()

date                       0
time                       0
station                    0
line                       0
bound                      0
min_delay                  0
code                       1
incident_description    1145
vehicle                    0
dtype: int64

In [42]:
#Where descriptions didnt match code we will replace it with `not given`
sub_delay['incident_description'].fillna('Not Given', inplace = True)

In [43]:
#filling one missing value with unknown
sub_delay['code'].fillna('Unknown', inplace = True)

In [44]:
sub_delay['incident_description'].value_counts().head(15)

Miscellaneous Speed Control                                   7609
Operator Overspeeding                                         4994
Injured or ill Customer (In Station) - Transported            4805
Passenger Assistance Alarm Activated - No Trouble Found       4319
Disorderly Patron                                             3032
Miscellaneous Other                                           2688
Injured or ill Customer (On Train) - Medical Aid Refused      1997
Escalator/Elevator Incident                                   1640
Operator Violated Signal                                      1488
Miscellaneous General Delays                                  1423
Injured or ill Customer (On Train) - Transported              1358
Speed Control Equipment                                       1295
Injured or ill Customer (In Station) - Medical Aid Refused    1199
Not Given                                                     1145
Door Problems - Faulty Equipment                              1059
Name: incident_description, dtype: int64

In [45]:
sub_delay.head()

,date,time,station,line,bound,min_delay,code,incident_description,vehicle
0,2017-01-01,00:29,kennedy_station,2-BD,West,0,MUSC,Miscellaneous Speed Control,5159
1,2017-01-01,01:35,islington_station,2-BD,East,0,MUSC,Miscellaneous Speed Control,5296
2,2017-01-01,03:00,lawrence_station,1-YU,South,4,EUDO,Door Problems - Faulty Equipment,6056
3,2017-01-01,04:06,greenwood_yard,2-BD,Unknown,0,SUUT,Unauthorized at Track Level,0
4,2017-01-01,04:20,sheppard_station,4-SHP,West,0,PUCSS,Central Office Signalling System,6171

In [46]:
#Making Columns readable by introducing spaces for underscores and capitalizinf first letter
sub_delay['station'] = [i.replace('_', ' ').title() for i in sub_delay['station']]
sub_delay['incident_description'] = [i.replace('_', ' ').title() for i in sub_delay['incident_description']]

### Clean data ready to be used!

In [47]:
#writing clean csv file to your directory
sub_delay.to_csv('sub_delay_17-20.csv')